.footer-icons-case {
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}

.footer-title-icons {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var();
  color: var(--secondary-color);
}
.footer-item-icons {
  width: 44px;
  height: 44px;
}
.footer-list-icons {
  display: flex;
  justify-content: space-between;
}

.footer-link-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: var(--secondary-color);
}

.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: var(--navigation-btn-color);
}
