.header__contacts-icons {
  fill: var(--main-second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .header__contacts-link:hover &,
  .header__contacts-link:focus & {
    fill: var(--navigation-btn-color);
    fill: currentColor;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-second-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--navigation-btn-color);
  }
}

.header__contacts-item:first-child {
  margin-right: 30px;
}
